<h3>Dropdown Test</h3>
<p>Selected Option: {{ selectedOption }}</p>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let option of options"><a (click)="selectOption(option)">{{ option }}</a></li>
    <li role="separator" class="divider"></li>
    <li><a>Separated link</a></li>
  </ul>
</div>
