@import "../../../variables";

section.admin {
  background-color: mat-color($app-primary, 50);
  padding-bottom: 40px;

  .col-md-9 {
    padding: 0 0 0 0;
  }

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

/deep/ .row, /deep/ mat-card {
  margin-top: 15px;
}
