<section class="customerUploads">
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <mat-toolbar color="primary" class="headetoolbar">
            <mat-toolbar-row>
              <span class="company_name">AP Software</span>
              <span class="spacer"></span>           
              
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMH45VuPNJgk2M9fJ2FGXEN-4PBYT0rBLKv1XtPy-XhVtJIKA9" class ="profile_pic" alt="">
            </mat-toolbar-row>         
          
            <mat-toolbar-row class="header_links">              
               <span class="spacer"></span>
              
                  <mat-icon class="icon">card_travel</mat-icon><span>Datenschutz</span>
                  <mat-icon class="icon">help</mat-icon><span>Hilfe</span>
                 <!--  <div class="cunsltant">Cunsultant</div>  -->                        
              
            </mat-toolbar-row> 
        </mat-toolbar>

     
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Customer Uploads</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-card class="uploadSection">       
        <mat-card-content>
        <p> Liebe Jenny und Christian,</p>

        <p>um eine Finanzierung für euch zu finalisieren, benötigen wir die unten aufgeführten persönlichen Unterlagen.
          Zur Erstellung einer Finanzierungsplanung und der Finanzierungsakte für eine erfolgreiche Umsetzung einer Finanzierung, benötigen wir neben den persönlichen Unterlagen zusätzlich alle betreffenden Objektunterlagen.
        </p>
        <p>  
          Je eher und vollständiger uns diese Unterlagen vorliegen, um so schneller und aussagekräftiger können wir für euch tätig werden.
        </p> 
        <p> 
          Je besser die Qualität der Scans der Dokumente sind, desto wohlgesonnener wird der Kreditprüfer der Bank bei Ihrer Finanzierungsakte sein. Bitte verwendet möglichst einen Flachbettscanner oder Einzugsscanner mit einer ausreichenden Scan-Auflösung an eurem Computer. Sollte euch einmal nur ein mobiles Endgerät zur Verfügung stehen, dann scannt bitte hier möglichst mit Hilfe einer Scanner-App, wie zum Beispiel CamScanner (kostenlos). Dort könnt ihr die erstellten Scans und Fotos zunächst über die Schaltfläche "In Album" auf eurem Mobilgerät abspeichern und dann hier in dem Portal "Kundenupload" über die Schaltfläche "hochladen" uns zur Verfügung stellen. Dies ist identisch, wie bei der Benutzung eines Computers, der Link funktioniert auf jedem EDV-Gerät. Selbstverständlich steht euch auch jederzeit eines unserer tecis-Büros zur Verfügung, um dort eure Unterlagen zu kopieren oder zu scannen.
        </p>
        <p>  
          Ihr finde bei den jeweiligen Punkten, die wir von euch benötigen die Buttons mit dem Text „hochladen“. 
          Bitte klickt dort drauf und ladet die entsprechenden Dateien hoch. Wir werden diese dann prüfen undihr bekommt Bescheid, beziehungsweise könnt auf dieser Übersichtseite jederzeit mitverfolgen, ob noch weitere Unterlagen fehlen 
          oder ob eure Finanzierungsunterlagen vollständig sind.
        </p>
        <p>  
          Wir sind bemüht, euch jederzeit den größtmöglichen Stand an Transparenz zu eurer Finanzierung zu liefern. 
          Scheut nicht, uns bei Rückfragen zu kontaktieren.
        </p>
        </mat-card-content>        
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-card class="uploadSection">       
        <mat-card-content>
          <h4>Ihr Berater</h4>
          <div><span>Christoph Pantke</span></div>
          <div><span>Telefon:</span><a>0178/7285864</a></div>
          <div><span>Mail:</span><a href="mailto:christoph.pantke@tecis.de">christoph.pantke@tecis.de</a></div>
        </mat-card-content>        
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-card class="uploadSection.selfAssessment">       
        <mat-card-content>
          
          <div class="row">
            <div class="col-md-12">
              <mat-card class="uploadSection">       
                <mat-card-content class="center">
                  <p>Persönliche UNterlagen (von allen Darlehensnemern) </p>
                </mat-card-content>        
              </mat-card>
            </div>
          </div>
          
            <div class="row">
              <div class="col-md-12">
                  <mat-accordion multi="true">
                      <mat-expansion-panel [expanded]="getUploadStatus('selfAssessment').open">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                <button mat-mini-fab class="filestatusindicator" [ngStyle]="{'background-color': getUploadStatus('selfAssessment').background, 'color':getUploadStatus('selfAssessment').color }">
                                    <mat-icon>{{getUploadStatus('selfAssessment').sign}}</mat-icon>
                                </button> 
                                Selbstauskunft
                            </mat-panel-title>
                            <mat-panel-description>
                                
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col-md-12 uploadButtonBox">
                                <input ngClass="hide" class="selfAssessmentUpload" id="input-file-id" type="file" (change)="onChnageSelectedFile($event)" />
                                <label for="input-file-id" mat-raised-button color="primary" class="uploadlable"><mat-icon >cloud_upload</mat-icon> Weitere Hochladen</label>
                            </div>
                            <div class="col-md-12 text-center">
                                <p>
                                    Bitte das Selbstauskunftsformular so vollständig wie möglich ausgefüllt mit allen Angaben zu Ihren persönlichen Daten und den Angaben zum Objekt hochladen. 
                                </p>
                                <p>    
                                    Am besten einmal als die fertige Datei, bevor Sie diese ausdrucken und als zweite Datei nachdem Sie die Selbstauskunft ausgedruckt und unterschrieben haben. Dies erleichtert und beschleunigt unsere Bearbeitung.
                                </p>
                                <div class="attachments">
                                  <p class="attached" *ngFor="let file of selfAssessmentFiles">
                                      <mat-icon class="attachment_icon">attachment</mat-icon>
                                      <a href="#">{{file.name}} {{file.size && file.size!=0 ? '('+(file.size/1024).toFixed(1)+'KB)' :'' }}</a>
                                  </p>                                 
                                </div>
                                <mat-card class="chetingBox">       
                                    <mat-card-content>
                                      <p class="chet cunsltant_chet"><span class="name">Consultant</span>: Bitte noch die Bilder von Jenny hochladen <span class="time">11:30 PM</span> </p>
                                      <mat-divider [inset]="true"></mat-divider>
                                      <p class="chet customer_chet"><span class="name">Customer</span>: Alright, done <span class="time">11:40 PM</span></p>
                                    </mat-card-content>        
                                </mat-card>
                                
                            </div>
                          </div>
                         
                        </mat-expansion-panel>
                      <mat-expansion-panel [expanded]="getUploadStatus('identityCards').open">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                <button mat-mini-fab class="filestatusindicator" [ngStyle]="{'background-color': getUploadStatus('identityCards').background, 'color':getUploadStatus('identityCards').color }">
                                    <mat-icon>{{getUploadStatus('identityCards').sign}}</mat-icon>
                                </button> 
                               <strong> Personalausweis oder Reisepass bei nicht deutschen Staatsbürgern</strong>
                            </mat-panel-title>
                            <mat-panel-description>
                                
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col-md-12 uploadButtonBox">
                                <input ngClass="hide" class="identityCardsUpload" id="input-file-idCards" type="file" (change)="onChnageSelectedFile($event)"/>
                                <label for="input-file-idCards" mat-raised-button color="primary" class="uploadlable"><mat-icon >cloud_upload</mat-icon>Hochladen</label>
                              
                            </div>
                            <div class="col-md-12 text-center">
                              <p>BItte die Vorder- und Rückseite einscannen</p>
                            </div>
                            <div class="col-md-12">
                                <div class="attachments">
                                    <p class="attached" *ngFor="let file of identityCardsFiles">
                                        <mat-icon class="attachment_icon">attachment</mat-icon>
                                        <a href="#">{{file.name}} {{file.size && file.size!=0 ? '('+(file.size/1024).toFixed(1)+'KB)' :'' }}</a>
                                    </p>                                 
                                  </div>                            
                            <mat-card class="chetingBox">       
                                <mat-card-content>                                  
                                  <p class="chet"><span class="name">Customer</span>:  Der Reisepass ist abgelaufen ist das schlimm? <span class="time">11:40 PM</span></p>
                                </mat-card-content>        
                            </mat-card>
                            </div>

                          </div>
                         
                        </mat-expansion-panel>
                      <mat-expansion-panel [expanded]="getUploadStatus('saleryStatment').open">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <button mat-mini-fab class="filestatusindicator" [ngStyle]="{'background-color': getUploadStatus('saleryStatment').background, 'color':getUploadStatus('saleryStatment').color }">
                                  <mat-icon>{{getUploadStatus('saleryStatment').sign}}</mat-icon>
                              </button> 
                             <strong> Gehaltsnachweis / Lohnabrechnung Mai</strong>
                          </mat-panel-title>
                          <mat-panel-description>
                              
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                          <div class="col-md-12 uploadButtonBox">
                              <input ngClass="hide" class="saleryStatmentUpload" id="input-file-idSal" type="file" (change)="onChnageSelectedFile($event)" />
                              <label for="input-file-idSal" mat-raised-button color="primary" class="uploadlable"><mat-icon >cloud_upload</mat-icon> Weitere Hochladen</label>
                            
                          </div>

                          <div class="col-md-12 text-center">
                            <p>Bitte alle Seiten der Gehaltsabrechnung hier hochladen. </p>                           
                          </div>
                          <mat-divider [inset]="true"></mat-divider>
                          <div class="col-md-12">
                              <div class="attachments">
                                  <p class="attached" *ngFor="let file of saleryStatmentFiles">
                                      <mat-icon class="attachment_icon">attachment</mat-icon>
                                      <a href="#">{{file.name}} {{file.size && file.size!=0 ? '('+(file.size/1024).toFixed(1)+'KB)' :'' }}</a>
                                  </p>                                 
                              </div>
                          </div>


                        </div>
                       
                      </mat-expansion-panel>
                      
                    </mat-accordion>
              </div>
            </div>

        </mat-card-content>        
      </mat-card>
    </div>
  </div>



</div>
</section>