<div class="col-xs-12">
  <h1>Team {{ editMode ? 'bearbeiten' : 'erstellen' }}</h1>

  <app-spinner *ngIf="!team"></app-spinner>

  <mat-card *ngIf="team">
    <mat-form-field class="team-name">
      <input type="text" matInput
             name="team-name"
             placeholder="Name des Teams" [(ngModel)]="team.name">
    </mat-form-field>

    <p>&nbsp;</p>
    <h4>Mitglieder</h4>
    <table class="table table-hover table-condensed members-table">
      <tr *ngFor="let member of team.members">
        <td>{{ member.firstName }}</td>
        <td>{{ member.lastName }}</td>
        <td><mat-icon (click)="removeMember(member)">clear</mat-icon></td>
      </tr>
    </table>
    <p>
      <button mat-raised-button (click)="openAddMember()">
        <mat-icon>add</mat-icon> Mitglied hinzufügen
      </button>
    </p>

    <p>&nbsp;</p>
    <p *ngIf="team.id">
      <button mat-raised-button (click)="deleteTeam()">Team löschen</button>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="saveTeam()">Team speichern</button>
    </p>
    <p>&nbsp;</p>
  </mat-card>
</div>

<div class="add-member-overlay" [hidden]="!addModelOpen" (click)="addModelOpen = false">
  <div class="content" (click)="$event.stopPropagation()">
    <h4>Mitglied hinzufügen</h4>

  </div>
</div>
