@import "../../../variables";

:host {
  display: block;
  height: 50px;
}

.navbar-brand {
  img {
    margin-top: 14px;
  }

  &.active {
    background-color: darken(mat-color($app-primary, 900), 10%);
  }
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  border-radius: 0;

  .navbar-nav li {
    cursor: pointer;
    outline: none;
  }
}
