<div class="col-xs-12">
  <h1>Teams verwalten</h1>
  <mat-card>
    <mat-card-content>
      <button mat-raised-button color="primary" (click)="createTeam()">
        <mat-icon>add</mat-icon> Neues Team erstellen
      </button>

      <app-spinner *ngIf="(teams | async) === null"></app-spinner>

      <p>&nbsp;</p>
      <table class="table table-hover table-condensed" *ngIf="(teams | async) !== null">
        <tr *ngFor="let team of teams | async" (click)="editTeam(team)">
          <td>{{ team.name }}</td>
          <td>{{ team.members.length }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
