@import "../../../../variables";

section.ticket {
  background-color: mat-color($app-primary, 50);
  padding-bottom: 40px;
}

.row, mat-card {
  margin-top: 15px;
}

input.ticket-subject {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  outline: none;
}

.ticket-attributes mat-form-field {
  width: 100%;
}
